apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: guestbook
spec:
  ingressClassName: public
  rules:
  - host: nginx.local
    http:
      paths:
      - backend:
          service:
            name: kustomize-guestbook-ui
            port:
              number: 80
        path: /
        pathType: Prefix
status:
  loadBalancer:
    ingress:
    - ip: 127.0.0.1
